@CHARSET "ISO-8859-1";

body
{
	color: white;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 12px;
	font-family: verdana;
	background: black;
}

p
{
	margin: 18px 12px 0px 12px;
	text-align: justify;
}

a
{
	color: white;
	text-decoration: none;
}

a:hover
{
	color: red;
}

a:visited
{
	color: white;
}

.center
{
	text-align: center
}

.banner
{
	width: auto;
	height: 250px;
	background: url("../img/banner.png") no-repeat center;
}

.container
{
	width: 800px;
	margin: 10px auto 10px auto;
	padding: 10px 10px 10px 10px;
	background: black;

	border: white 1px solid;
	border-radius: 3px;
}

.rodape
{
	width: 100%;
}

.btn
{
	cursor: pointer;
	display: inline-block;
	text-align: center;
	vertical-align: middle;

	padding: 4px 12px;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 0px;

	border: 1px solid #bbb;
	border-radius: 4px;
}

.btn:hover
{
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear
}

.btn.primary
{
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	border-color: #0044CC;
	background-color: #006DCC;
	background-image: linear-gradient(to bottom,#08c,#0044cc);
	background-repeat: repeat-x;
}

.btn.primary:hover
{
	color: #FFF;
	background-color: #0044CC;
}

.btn.primary:active
{
	background-color: #003399;
}

.formdmd input,
.formdmd select,
.formdmd textarea
{
	border: 1px solid #ccc;
	display: inline-block;
	padding: .5em .6em;
	box-shadow: inset 0 1px 3px #ddd;
	box-sizing: border-box;
	border-radius: 4px;
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
}

.formdmd textarea.noresize
{
	resize: none;
}

.formdmd legend
{
	padding: 5px 5px 5px 5px;
	text-align: center;
}

.formdmd legend:hover
{
	width: 100%;
	color: rgb(0, 0, 0);
	cursor: pointer;
	background: rgba(255, 255, 255, 0.75);
	border-radius: 5px 5px 5px 5px;
}

.formdmd fieldset
{
	border: 0;
	margin: 0;
	padding: .35em 0 .75em;
}

.formdmd ul
{
	list-style-type: none;
}

.formdmd .group
{
	margin-bottom: .5em;
}

.formdmd label
{
	width: 200px;
	margin: 0 20px 0 0px;
	display: inline-block;
	text-align: right;
	line-height: 1.8;
	vertical-align: middle;
}

.formdmd.aligned label
{
	width: 200px;
	margin: 0 20px 0 125px;
	display: inline-block;
	text-align: right;
	line-height: 1.8;
	vertical-align: middle;
}

.formdmd textarea
{
	vertical-align: top;
}

.menu
{
	width: 910px;
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	border: 1px solid;
	border-color: white;
	border-radius: 3px 3px 3px 3px;
}

.menu ul
{
	height: 40px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.menu li
{
	float: left;
	width: 100px;
	height: 20px;
	padding: 10px 0 10px 0;
	position: relative; 
	list-style: none;
	text-align: center;
	border-right: 1px solid white; 
	display: block;
}
 
.menu li:hover
{
	background: #333;

	text-shadow: 0px 0px 5px #FFF;
	-moz-box-shadow: 0 3px 10px 0 #CCC;
	-webkit-box-shadow: 0 3px 10px 0 #CCC;
}

.menu li ul
{
	left: 0;
	top: 40px;
	display: none;
	position: absolute;
}

.menu li:hover ul,
.menu li.over ul
{
	display:block;
}

.menu li ul li
{
	width: 100px;
	border: 1px solid #c0c0c0;
	display: block;
	background: #000;
}

.alert
{
	margin: 5 auto 5 auto;
	padding: 10px 10px 10px 10px;
	border-radius: 4px;
}

.alert.primary
{
	color: #1a5186;
	border: 1px solid #3085d6;
	background: #85b7e7;
}

.alert.secondary
{
	color: #255a32;
	border: 1px solid #42a35a;
	background: #80cb92;
}

.alert.default
{
	color: #555555;
	border: 1px solid #f2f2f2;
	border: 1px solid #f2f2f2;
	background: white;
}

.alert.info
{
	color: #f2f2f2;
	border: 1px solid #4a4d50;
	background: #7b8085;
}

.alert.danger
{
	color: #7b2121;
	border: 1px solid #ca3838;
	background: #df8989;
}

.alert.warning
{
	color: #644405;
	border: 1px solid #f6b83f;
	background: #fbdca0;
}

.alert.success
{
	color: #316b15;
	border: 1px solid #58c026;
	background: #91e26a;
}
